


<nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #eaeaea; font-weight: bold; font: 1em sans-serif;">
    <a class="navbar-brand" href="#">
        <img src="../../assets/Your_paragraph_text-removebg-preview.png" width="300" height="80" class="d-inline-block align-top" alt="">
            </a>

    <a routerLink="/home"  class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/books">Books List</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/shop">Shopping Cart</a>
        </li>

        <div *ngIf="isadminuser() == true" >
        <li class="nav-item">
          <a class="nav-link" routerLink="/users">users</a>
        </li>
      </div>
      <div *ngIf="isadminuser() == true" >
        <li class="nav-item">
          <a class="nav-link" routerLink="/add-book">Add books</a>
        </li>
      </div>

      <div *ngIf="isadminuser() == true" >
        <li class="nav-item">
          <a class="nav-link" routerLink="/livraison">Livraisons</a>
        </li>
      </div>
        
        <li class="nav-item">
          <a class="nav-link disabled" href="#"></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        
    <div *ngIf="getUsername() == null">
      <a routerLink="/login" class="btn btn-outline-success my-2 my-sm-0">Login</a>
      <button routerLink="/signup" class="btn btn-outline-success my-2 my-sm-0" type="submit">Register</button>
      
    </div>
  
    <div *ngIf="getUsername() ! null" >
      Welcome, {{ getUsername() }}
      <button (click)="logout()"class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
    </div>
   
        
      </form>
    </div>
   
  </nav>
  
  


